.music {
    color: white;
    background-color: pink;
    width: 7%
}
html{
    font-family: 'Bad Script', cursive;
}

body {
  background-image: url("./pics/bg2.jpg");
}

image {
height: 100px;
width: 100px;
margin-top: 50px
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

p {
  color: Black;
  font-size: 200%;
  font-family: 'Bad Script', cursive;
}

.button {
display: inline-block;
padding: 15px 25px;
font-size: 24px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: #fff;
background-color: #4682b4;
border: none;
border-radius: 15px;
box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

p.small {
    font-variant: small-caps;
}

p {
  font-family: 'Bad Script', cursive;
}

 button {
   font-family: 'Bad Script', cursive;
 	 margin-bottom: 15px;
   border: none;
   outline: none;
   background-color: #00bfff;
   letter-spacing: 1px;
   color: white;
   font-weight: normal;
   width: 50%;
   position: relative;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   font-size: 18px;
 }

 .contact-wrapper {
 	text-align: center;
 }

 .reset-input {
 	margin-bottom: 50px;
 	margin-top: 30px;
 }

 #gform {
 	width: 40%;
 	display: inline-block;
 }

 #name {
 	width: 100%;
 }

 #email {
 	width: 100%;
 }

 .name-label {
 	font-size: 24px;
 }

 .message-label {
 	font-size: 24px;
 }

 .email-label {
 	font-size: 24px;
 }

 .h2-div {
 	font-size: 30px;
 }

 #thankyou_message {
 	margin-bottom: 30px;
 }

 .button-xlarge {
 	margin-bottom: 30px;
 	width: 100%;
 }
